<html>
    <head>
        <link />
        <meta />
        <title >My Page</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="#">Home</a>
                <a href="#">About us</a>
                <a href="#">Contact us</a>
                <a href="#">Services</a>
            </nav>

        </header>
        <main>
              <article>
                To host your journal with CARI, go to our journal hosting page and submit your manuscripts. High impact factor, indexed, peer reviewed journals. Low Cost Publishing. Be cited widely. Get publication certifica. Get hardcopy issue. Earn from publishing. Types: peer reviewed journals, cheap & fast publication, free journal publication.
              </article>
        </main>
    </body>
</html>